@import "./styles/Content";
@import "./styles/Header";
@import "./styles/Label.scss";


* {
  padding: none;
  margin: none;
  box-sizing: border-box;

}

html {
  font-size: 10px;

  @media screen and (max-width: 768px) {
    font-size: 15px;
  }
}

.App {
  font-family: sans-serif;
  text-align: center;
  height: 100vh;
  overflow: hidden;

  .component-wrapper {
    font-size: 1.5rem;

    @media screen and (max-width:768px) {

      font-size: inherit;

    }

  }
}